# Day 5 - Lists

A list is collection of different data types which is ordered and modifiable(mutable). A list can be empty or it may have different data type items.

In [3]:
#Creat a list

my_list = []
my_list = list()


# for kida in range(5):
#     my_list.append("a")

print(my_list)

[]

In [4]:
fruits = ['banana', 'orange', 'mango', 'lemon']                     # list of fruits
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']      # list of vegetables
animal_products = ['milk', 'meat', 'butter', 'yoghurt']             # list of animal products
web_techs = ['HTML', 'CSS', 'JS', 'React','Redux', 'Node', 'MongDB'] # list of web technologies
countries = ['Finland', 'Estonia', 'Denmark', 'Sweden', 'Norway']

In [5]:
print('Fruits:', fruits)
print('Number of fruits:', len(fruits))
print('Vegetables:', vegetables)
print('Number of vegetables:', len(vegetables))
print('Animal products:',animal_products)
print('Number of animal products:', len(animal_products))
print('Web technologies:', web_techs)
print('Number of web technologies:', len(web_techs))
print('Countries:', countries)
print('Number of countries:', len(countries))

Fruits: ['banana', 'orange', 'mango', 'lemon']
Number of fruits: 4
Vegetables: ['Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
Number of vegetables: 5
Animal products: ['milk', 'meat', 'butter', 'yoghurt']
Number of animal products: 4
Web technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'MongDB']
Number of web technologies: 7
Countries: ['Finland', 'Estonia', 'Denmark', 'Sweden', 'Norway']
Number of countries: 5

In [7]:
# Lists can have items of different data types

coshry_list = ['A', 1, [['a','b'], ['c',1]], {'country':'Finland', 'city':'Helsinki'}, True, my_list]

In [9]:
print(coshry_list[2][0][1])

b

## Indexing

In [ ]:
# +ve
last_index = len(fruits) - 1
last_fruit = fruits[last_index]
print(last_fruit)

lemon

In [26]:
name_list = "Ammar Osman Ahmed Ibrahim".split()
print(name_list)

*remaning, third_name,last_name = name_list

print(remaning)

['Ammar', 'Osman', 'Ahmed', 'Ibrahim']
['Ammar', 'Osman']

In [28]:
I, * rest, IX,X = [1,2,3,4,5,6,7,8,9,10]

print(rest)

[2, 3, 4, 5, 6, 7, 8]

## Slicing

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
all_fruits = fruits[0:4]
all_fruits = fruits[:]
print(all_fruits)

['banana', 'orange', 'mango', 'lemon']

In [41]:
numbers = [1,2,3,4,5,6,7,8,9]

evan_numbers = numbers[1::2]
odd_numbers = numbers[::2]
print(evan_numbers)
print(odd_numbers)

evan_numbers = numbers[-2::-2]
odd_numbers = numbers[-1::-2]
print(evan_numbers)
print(odd_numbers)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]
[8, 6, 4, 2]
[9, 7, 5, 3, 1]

## Modifying Lists

In [45]:
fruits = ['banana', 'orange', 'mango', 'lemon']

fruits[0] = "avocado"
fruits[1] = "apple"
# fruits[4] = 'dates'
#IndexError: list assignment index out of range
fruits[-1] = "lime"

fruits.append('dates')

print(fruits)

['avocado', 'apple', 'mango', 'lime', 'dates']

In [ ]:
print('banana' in fruits)
print('avocado' in fruits)

False
True

In [ ]:
fruits = ['avocado', 'apple', 'mango', 'lime', 'dates']
print(fruits.index('mango'))

fruits.insert(2, 'banana')
print(fruits)

print(fruits.index('mango'))


fruits.insert(-1, 'last')
#! Interesting output
print(fruits)

2
['avocado', 'apple', 'banana', 'mango', 'lime', 'dates']
3
['avocado', 'apple', 'banana', 'mango', 'lime', 'last', 'dates']

In [ ]:
#emove 

fruits.remove('last')
print(fruits)

['avocado', 'apple', 'banana', 'mango', 'lime', 'dates']

In [ ]:
#pop

fruits.pop()
print(fruits)

['avocado', 'apple', 'banana', 'mango', 'lime']

In [ ]:
fruits.pop(0)
print(fruits)

['apple', 'banana', 'mango', 'lime']

In [59]:
#del 

# del fruits
del fruits[0:2]
print(fruits)

['mango', 'lime']

In [1]:
# clearing the list
lst = ['item1', 'item2']
lst.clear()
print(lst)

[]

## Copying a List

In [ ]:
lst_1 = [1,2,3,4,5]

lst_2 = lst_1
lst_1.append(6)
print(lst_2)

[1, 2, 3, 4, 5, 6]

In [ ]:
lst_2.pop(0)
print(lst_1)

[2, 3, 4, 5, 6]

In [5]:
lst_1 = [1,2,3,4,5]

lst_2 = lst_1.copy()

lst_1.append(6)

lst_2.pop(0)

print(lst_1)
print(lst_2)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5]

## Joining lists

In [6]:
# +
positive_numbers = [1, 2, 3, 4, 5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + zero + positive_numbers
print(integers) # [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
fruits = ['banana', 'orange', 'mango', 'lemon']
vegetables = ['Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
fruits_and_vegetables = fruits + vegetables
print(fruits_and_vegetables )

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

In [7]:
lst_3 = [1,2,3]
lst_4 = [4,5,6]

lst_3.append(lst_4)
print(lst_3)

[1, 2, 3, [4, 5, 6]]

In [8]:
lst_3 = [1,2,3]
lst_4 = [4,5,6]

lst_3.extend(lst_4)
print(lst_3)

[1, 2, 3, 4, 5, 6]

## Counting Items in a List

In [9]:
lst_5 = [1,2,3,3,4,4,4,4,5]

print(lst_5.count(1))
print(lst_5.count(2))
print(lst_5.count(4))
print(lst_5.count(0))

1
1
4
0

## Finding Index

In [15]:
lst_5 = [1,2,3,3,4,4,4,4,5]
print(lst_5.index(3))
# print(lst_5.find(3))
#AttributeError: 'list' object has no attribute 'find'

2

## Reversing a List

In [ ]:
lst_5 = [1,2,3,3,4,4,4,4,5]

# lst_r = lst_5[::-1]
# print(lst_r)


lst_5.reverse()
print(lst_5)

#! print(lst_5.reverse()) --> NONE
#! (.reverse() method changes the lst but doesn't give output)

[5, 4, 4, 4, 4, 3, 3, 2, 1]
<list_reverseiterator object at 0x000001FEC2187880>

## Sorting

In [ ]:
lst_to_sort = [1,4,2,8,2,5,3]

lst_to_sort.sort()

print(lst_to_sort)

[1, 2, 2, 3, 4, 5, 8]

In [37]:
# Alphabetic

lst = ['a','A','b','B']
lst.sort()

print(lst)

assert(lst == ['A', 'B', 'a', 'b'])

# Capital first

# special char

# lst = ['A', 'a', 1, '/', '@', '.']
# lst.sort()
# #! '<' not supported between instances of 'int' and 'str'
# print(lst)

lst = ['A', 'a', '1', '/', '@', '.']
lst.sort()
print(lst)

['A', 'B', 'a', 'b']
['.', '/', '1', '@', 'A', 'a']

In [41]:
lst = ['Abc', 'aBc', 'BBB', 'ABC', 'ABc', 'AAA', '1aa']
lst.sort()
print(lst)

['1aa', 'AAA', 'ABC', 'ABc', 'Abc', 'BBB', 'aBc']

In [43]:
lst = [1,5,8,9,7,3]
lst.sort(reverse=True)
print(lst)

[9, 8, 7, 5, 3, 1]

In [45]:
lst = [1,5,8,9,7,3]
lst_2 = sorted(lst)
print(lst)
print(lst_2)

[1, 5, 8, 9, 7, 3]
[1, 3, 5, 7, 8, 9]

## Exercises: Day 5