# 30 Days Of Python: Day 4 - Strings

In [26]:
'strings' , "strings" , """"doc_string"""

print('He said "let us do something"')

He said "let us do something"

In [27]:
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying 30 days of Python Challenge"
print(sentence)

P
1
Hello, World!
13
I hope you are enjoying 30 days of Python Challenge

In [28]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [29]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
space = ' '
full_name = first_name +  space  + last_name
print(full_name) # Asabeneh Yetayeh
# Checking the length of a string using len() built-in function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(space))
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 16

Asabeneh Yetayeh
8
7
1
True
16

In [30]:
"""
\n: new line
\t: Tab means(8 spaces)
\\: Back slash
\': Single quote (')
\": Double quote (")
"""""

print("He said \"adsagfa\"")
# print("C:\MIT_Emarging_talent\Practice\30-Days-Of-Python\04_Day_Strings\04_strings.md")
print("C:\\MIT_Emarging_talent\\Practice\\30-Days-Of-Python\\04_Day_Strings\\04_strings.md")
print("C:/MIT_Emarging_talent/Practice/30-Days-Of-Python/04_Day_Strings/04_strings.md")

He said "adsagfa"
C:\MIT_Emarging_talent\Practice\30-Days-Of-Python\04_Day_Strings\04_strings.md
C:/MIT_Emarging_talent/Practice/30-Days-Of-Python/04_Day_Strings/04_strings.md

In [31]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1\t \t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with "Hello, World!"') # to write a double quote inside a single quote
#* to write double inside double or single inside single*

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1	 	5
Day 2	6	20
Day 3	5	23
Day 4	1	35
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

In [32]:
# Strings only
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point
print(formated_string)
python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) # "The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']"

I am Asabeneh Yetayeh. I teach Python
The area of circle with a radius 10 is 314.00.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

In [ ]:
integer = 5
Float = 5.5
String = "ABC"


print("integer is %d, float is %.1f, and string is %s" %(integer, Float, String))
print(f"integer is {int(integer)}")
print("integer is {}".format(integer))
print("integer is %s, float is %.1f, and string is %s" %(integer, Float, String))

integer is 5, float is 5.5, and string is ABC
integer is 5
integer is 5
integer is 5, float is 5.5, and string is ABC

In [ ]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Asabeneh Yetayeh. I teach Python
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [36]:
a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

### Python Strings as Sequences of Characters

In [39]:
my_list = ["p","y","t","h","o","n"]
my_tuple = ("p","y","t","h","o","n")
my_string = "python"
a,b,c,d,e,f = my_string
print(a,b,c,d,e,f)

p y t h o n

In [40]:
# Accessing Characters in Strings by Index
my_list = ["p","y","t","h","o","n"]
#           0   1   2   3   4   5
#iteration 

my_tuple = ("p","y","t","h","o","n")
my_string = "python"
a,b,c,d,e,f = my_string
print(len(my_list))

6

In [53]:
## Accessing Characters in Strings by Index

first_letter = my_list[1]
print(first_letter)

first_letter = my_string[1]
print(first_letter)



# for letter in range(len(my_list)):
#     print(letter)
# for i in range(5):
#     print(i)

y
y

In [75]:
last_letter = my_string[-1]
print(last_letter)

name = "Ahmed."
refined_name = name
last_letter = name[-1]

if last_letter == ".":
    #delete it
    refined_name = name[0:-1]
print(refined_name)

n
Ahmed

In [68]:
#Slicing

refined_name = name[0:-1]
print(refined_name)

Ahmed

In [83]:
# Reversing a String
my_string = "abcd"
reverse = my_string[2::-1]
print(reverse)

cba

In [93]:
all_numbers = "12345678"
#              01234567
odd_numbers = all_numbers[6::-2]
print(odd_numbers)
odd_numbers = all_numbers[-2::-2]
print(odd_numbers)

evan_numbers = all_numbers[::-2]
print(evan_numbers)
evan_numbers = all_numbers[7::-2]
print(evan_numbers)

7531
7531
8642
8642

## String Methods

In [1]:
"begging of a line".capitalize()

'Begging of a line'

In [12]:
challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2`
print(challenge.count(challenge))

3
1
2
1

In [11]:
# print("ABabABab".count("A"))
# assert "ABabABab".count("A") == 2
# assert "ABabABab".count("b") == 2

assert "ABabABab".count("b",0,7) == 1
#*      01234567
print("ABabABab".count("B",0,7))
print("ABabABab".lower().count("b",0,7))

2
3

In [ ]:
name = "Ahmed"
refined_name = name
last_letter = name[-1]

if name.endswith("."):
    #delete it
    refined_name = name[0:-1]
print(refined_name)

print(name.startswith("A"))


# if True:
#     print("true")
    
# if False:
#     print("False")

Ahmed
True
true

In [ ]:
sentence = "A\tB"
#*              8           8        7
print(sentence)
print("len secntence = ", len(sentence))
expanded_tab = sentence.expandtabs(9)
print(expanded_tab)
print("len expanded = ", len(expanded_tab))

''' 
@ chatGPT
Why is len(expanded_tab) == 9?
The expandtabs(8) method replaces \t with enough spaces to move to the next multiple of 8 columns.

Let’s simulate how it works:

'A' is at column 0

The \t wants to move to the next multiple of 8, which is column 8

So, from column 1 to 8, it needs to add 7 spaces

So the tab becomes 7 spaces.

Then 'B' is printed at column 8.

Therefore, expanded_tab becomes:

bash
Copy
Edit
'A       B'
(1 for 'A' + 7 spaces + 1 for 'B' = 9 characters)'''

A	B
len secntence =  3
A        B
len expanded =  10

In [32]:
#find()

challenge = 'thirty days of python'
#*           0123456789
print(challenge.find('y'))  # 5
print(challenge.rfind('y')) #16

print(challenge.find('th')) # 0
print(challenge.rfind('th')) #17

5
16
0
17

In [39]:
name = "Ahemd Ammar"
#*      012345678910

print(name.index("m"))
print(name.rindex("m"))
# print(name.index("r",6,10)) # value error

print(name.index("r",6,11)) # 10

3
8
10

In [40]:
challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
False
False

In [43]:
password = input("write your password")

if password.isalnum():
    print("password changed successfully \nyour new passowrd is {}".format(password))
else:
    print("invalid password")

invalid password

In [48]:
name = input("Enter your name")
modified_name = name.replace(" ","")
print(modified_name)
if modified_name.isalpha():
    print("Thank you")
else:
    print("you don't know your name?")

AmmarOsman
Thank you

In [55]:
char = "\u2764"   # ❤️ (heart)
print(char)         
print(len(char))   

print(char.isdigit())
print(char.isdecimal())

challenge = '\u00B2'
print(challenge)
print(challenge.isdigit()) 
print(challenge.isdecimal())

❤
1
False
False
²
True
False

In [57]:
half = '\u00BD'
print(half)

print(half.isdecimal())
print(half.isdigit())
print(half.isnumeric())

½
False
False
True

In [63]:
# isidentifier
"1_variable".isidentifier()

False

In [64]:
challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

True
False

In [ ]:
challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

In [109]:
#* join

name = "Ahmed Ammar Sanosi"
#*      0123456789
#*        0     1      2

# ["Ahmed', "Ammar", "Sanosi"]

splited_name = name.split()
print(splited_name)

if splited_name[-1] == "Sanosi":
    new_name = splited_name[0:-1]
    joined_new_name = " ".join(new_name)
    
print(joined_new_name)

['Ahmed', 'Ammar', 'Sanosi']
Ahmed Ammar

In [100]:
my_string = "abcxzxcd"
print("1" + my_string.strip() + "0")
print(my_string.strip("dabzc"))

# Black boxes
#* Bahovior input --> output
# Strategy 
# implementation

1abcxzxcd0
xzx

In [104]:
print(my_string.replace("c","Y",1))

abYxzxcd

In [106]:
new_str = "AaBb cCdD"

lower = new_str.lower() # "aabb ccdd"
upper = new_str.upper() # "AABB CCDD"
title = new_str.title() # "Aabb Ccdd" or "AaBb CCdD"
swap = new_str.swapcase() # "aAbB CcDd"

print("lower is: ", lower)
print("upper is ", upper)
print("title is" , title)
print("swap is ", swap)

lower is:  aabb ccdd
upper is  AABB CCDD
title is Aabb Ccdd
swap is  aAbB CcDd